body{
    margin: 0;
    padding: 0;
    margin-top: 0;
    background-color: #f2f3fa;
}

a{
    text-decoration: none;
    color: #FFF;
}

hr{
    border: none;
    height: 1px;
    background-color: rgba(220, 196, 196, 0.5);
}


.product{
    display: flex;
    margin-top:50px;
    margin-left: 70px;
   

}

select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60px;
    height: 40px;
    margin-left: 240px;
}
.btn-create{
    width: 240px;
    height: 40px;
    background-color:blue;
    border: 0;

}
.btn-delete{
    width: 130px;
    height: 40px;
    background-color:red;
    border: 0;
    margin-left: 200px;
    color: #FFF;
}
button a{
    text-decoration: none;
    color: white;
    font-size: larger;
}

.prod-img{
    margin-left:30px;
    width: 250px;
    height: 350px;
}

/*about book div */
.about-book {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}
  
.book-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.price {
    font-size: 18px;
    color: #d1746c;
    margin-bottom: 5px;
}
  
.description-book {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}
  
.year-publication,
.author-book,
.quality-book,
.time-added,
.shelf,
.pk-book{
    font-size: 14px;
    margin-bottom: 5px;
}
  
  


/* Two Blok Div */
.two-block {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}






