body{
    margin: 0;
    margin-top: 0;
    padding: 0;
    background-color: #65BDFC;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.login-card{
    width: 200px;
    height: 500px;
    margin-top: 90px;
    background-color: #65BDFC;

    margin-left: 420px;
}

.login-form input{
    width: 200px;
    height: 30px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.btn-submit{
    width: 200px;
    height: 30px;
    flex-shrink: 0;
    background-color: #E90000;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 20px;
}

/*.remember-div{
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
}
#remember{
    size: 15px;
} */

.login-card .log-text{
    color: #FFFFFF;
    font-size: 30px;
}

label{
    color:#D9D9D9;
    font-size: 15px;
}

.register-div{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

