{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'clients/css/add_client_style.css' %}"/>
     <link rel="stylesheet" href="{% static 'books/css/navigation_style.css' %}">
    <link rel="icon" href="{% static 'books/images/logo.jpg' %}" />
    <title>Add Client</title>
</head>
<body>
    {% include 'books/navigation.html' %}

    <form action="{% url 'add_client' %}" method="post">
        {% csrf_token %}
        <input type="text" id="first_name" name="first_name" placeholder="First Name">
        <input type="text" id="last_name" name="last_name" placeholder="Last Name">
        <input type="text" id="phone" name="phone" placeholder="Phone Number">
        <input type="text" id="address" name="address" placeholder="Address">

        <button type="submit" class="add-cl-btn">Add New Client</button>
    </form>

</body>
</html>